body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: #efefef;
    transition: background-color 0.3s, color 0.3s;
}

.container {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 2rem;
    gap: 1.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4%;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

input,
textarea,
select,
button {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 3px;
}

button {
    background-color: #011428;
    color: #fff;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #011428;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}

/* Dark Theme Mode Animation Designe Start */
.theme {
    --bg-color: #fff;
    --main-color: #323232;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: var(--bg-color);
    border-radius: 100%;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
}

.input {
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    opacity: 0;
}

.icon {
    position: absolute;
    top: calc(50% -13px);
    left: calc(50% -13px);
    width: 26px;
    height: 26px;
}

.icon.icon-moon {
    fill: var(--main-color);
}

.icon.icon-sun {
    stroke: var(--main-color);
    display: none;
}

.input:checked~.icon.icon-sun {
    display: block;
}

.input:checked~.icon.icon-moon {
    display: none;
}

.theme:active {
    box-shadow: 0px 0px var(--main-color);
    transform: translate(3px, 3px);
}
/* Dark Theme Mode Animation Designe End */
/* Dark Theme Mode Button position */
.mode-toggle {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

.mode-toggle label {
    margin-right: 0.5rem;
}

body.dark-mode {
    background-color: #333;
    color: #fff;
}

body.dark-mode .container {
    background-color: #444;
}

body.dark-mode input,
body.dark-mode textarea,
body.dark-mode select {
    background-color: #3e3e3e;
    color: #fff;
    border-color: #7e7d7d;
}

#profile-section {
    display: none;
}

.profile-info p {
    margin: 0.5rem 0;
}